<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin WAE | Config Page Course Content</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <% include ./partials/static_header %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ./partials/header %>

        <!-- Left side column. contains the logo and sidebar -->
        <% const dataSidebar = {
            activeConfig: true,
            activeConfigCourse: true
        } %>
        <%- include('./partials/sidebar', dataSidebar) -%>

        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% const dataBreadcrumb = {
                title: 'Config Page Course Content',
                smallTitle: 'Update content page course',
                isDashboard: false,
                pageTitle: 'Config page course content'
            } %>
            <%- include('./partials/breadcrumb', dataBreadcrumb) -%>

            <!-- Main content -->
            <section class="content">
                <%
                    let content = {};
                    if(locals.config && locals.config.content) {
                        content = JSON.parse(config.content);
                    }
                %>
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Content Page Course </h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form" action="/adm/config/course" method="POST">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="courseImgBackground">Course - Image Background (1900x1280)</label>
                                        <input type="text" class="form-control" id="courseImgBackground" name="courseImgBackground" placeholder="example: https://news.nationalgeographic.com/content/dam/news/photos/000/890/89070.ngsversion.1425757154489.adapt.1900.1.jpg" value="<%=(content && content.courseImgBackground)?content.courseImgBackground:"" %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="courseBigText">Course - Bigger Text</label>
                                        <input type="text" class="form-control" id="courseBigText" name="courseBigText" placeholder="example: HELLO & WELCOME" value="<%=(content && content.courseBigText)?content.courseBigText:"" %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="courseSmallText">Course - Smaller Text</label>
                                        <input type="text" class="form-control" id="courseSmallText" name="courseSmallText" placeholder="example: WE ARE ENGINEERS" value="<%=(content && content.courseSmallText)?content.courseSmallText:"" %>">
                                    </div>
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy;
               <%=(new Date()).getFullYear(); %>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/static_footer %>
</body>

</html>