<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin WAE | Partner Detail</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <% include ./partials/static_header %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ./partials/header %>

        <!-- Left side column. contains the logo and sidebar -->
        <% const dataSidebar = {
            activeTeam: true
        } %>
        <%- include('./partials/sidebar', dataSidebar) -%>

        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% const dataBreadcrumb = {
                title: 'Team Details',
                smallTitle: 'Insert/Update Information',
                isDashboard: false,
                pageTitle: 'Config information of partner'
            } %>
            <%- include('./partials/breadcrumb', dataBreadcrumb) -%>

            <!-- Main content -->
            <section class="content">
                <%
                    let content = {};
                    if(locals.member) {
                        content = member;
                    }
                %>
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Partner Information </h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form role="form" action="/adm/partners/details" method="POST">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" value="<%=(content && content.name)?content.name:"" %>">
                                        <input type="hidden" class="form-control" id="partnerId" name="partnerId" value="<%=(content && content.id)?content.id:0 %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="logo">Logo (400x300)</label>
                                        <input type="text" class="form-control" id="logo" name="logo" value="<%=(content && content.logo)?content.logo:"" %>">
                                        <img src="<%=(content && content.logo)?content.logo:"" %>" title="Logo">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="text" class="form-control" id="website" name="website" value="<%=(content && content.website)?content.website:"" %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" name="description" row="3"><%=(content && content.description)?content.description:"" %></textarea>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="status" name="status" <%=(content && content.status)?"checked":"" %>> Active
                                        </label>
                                    </div>
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy;
               <%=(new Date()).getFullYear();%>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/static_footer %>
</body>

</html>