<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin WAE | Teams WAE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <% include ./partials/static_header %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ./partials/header %>

        <!-- Left side column. contains the logo and sidebar -->
        <% const dataSidebar = {
            activeTeams: true
        } %>
        <%- include('./partials/sidebar', dataSidebar) -%>

        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% const dataBreadcrumb = {
                title: 'Team WAE',
                smallTitle: 'Information member at WAE',
                isDashboard: false,
                pageTitle: 'Team WAE'
            } %>
            <%- include('./partials/breadcrumb', dataBreadcrumb) -%>

            <!-- Main content -->
            <section class="content">
                <%
                    let content = [];
                    if(locals.teams) {
                        content = teams;
                    }
                %>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">List members</h3>
                                <div class="box-tools">
                                    <a href="/adm/teams/details/0"><button type="button" class="btn btn-block btn-primary btn-sm">Add</button></a>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>Title</th>
                                            <th>Avatar</th>
                                            <th>Short Description</th>
                                            <th>Social</th>
                                            <th>Status</th>
                                        </tr>
                                        <% content.forEach(member => { %>
                                            <tr>
                                                <td>
                                                    <%=member.id%> | 
                                                    <a href="/adm/teams/details/<%=member.id%>"><i class="fa fa-edit"></i></a> | 
                                                    <a href="/adm/teams/delete/<%=member.id%>" onclick="return confirm('Do you want to remove member: <%=member.fullName%>')"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <td><%=member.fullName%></td>
                                                <td><%=member.title%></td>
                                                <td> <img src="<%=member.avatar%>" style="width: 50px; height: 68px;" title="avatar size (500x680)"></td>
                                                <td><%=member.shortDescription%></td>
                                                <td>
                                                    <a href="<%=member.facebook%>" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                                    <a href="<%=member.linkedin%>" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                                                    <a href="mailto:<%=member.email%>" target="_blank"><i class="fa fa-envelope"></i></a>
                                                    <a href="skype:<%=member.skype%>?chat" target="_blank"><i class="fa fa-skype"></i></a>
                                                </td>
                                                <td><%=(member.status)?"Active":"Inactive" %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include ./partials/footer %>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/static_footer %>
</body>

</html>