<!--  
Document Title
=============================================
-->
<title><%=(locals.config.titlePage)?locals.config.titlePage:""%></title>
<meta name="description" content="<%=(locals.config.descriptionPage)?locals.config.descriptionPage:""%>" />
<meta name="keywords" content="<%=(locals.config.keywordsPage)?locals.config.keywordsPage:""%>" />

<meta http-equiv="Pragma" content="no-cache">
<!--  
Favicons
=============================================
-->
<link rel="apple-touch-icon" sizes="57x57" href="<%=(locals.config.icon57)?locals.config.icon57:""%>">
<link rel="apple-touch-icon" sizes="60x60" href="<%=(locals.config.icon60)?locals.config.icon60:""%>">
<link rel="apple-touch-icon" sizes="72x72" href="<%=(locals.config.icon72)?locals.config.icon72:""%>">
<link rel="apple-touch-icon" sizes="76x76" href="<%=(locals.config.icon76)?locals.config.icon76:""%>">
<link rel="apple-touch-icon" sizes="114x114" href="<%=(locals.config.icon114)?locals.config.icon114:""%>">
<link rel="apple-touch-icon" sizes="120x120" href="<%=(locals.config.icon120)?locals.config.icon120:""%>">
<link rel="apple-touch-icon" sizes="144x144" href="<%=(locals.config.icon144)?locals.config.icon144:""%>">
<link rel="apple-touch-icon" sizes="152x152" href="<%=(locals.config.icon152)?locals.config.icon152:""%>">
<link rel="apple-touch-icon" sizes="180x180" href="<%=(locals.config.icon180)?locals.config.icon180:""%>">
<link rel="icon" type="image/png" sizes="192x192" href="<%=(locals.config.icon192)?locals.config.icon192:""%>">
<link rel="icon" type="image/png" sizes="32x32" href="<%=(locals.config.icon32)?locals.config.icon32:""%>">
<link rel="icon" type="image/png" sizes="96x96" href="<%=(locals.config.icon96)?locals.config.icon96:""%>">
<link rel="icon" type="image/png" sizes="16x16" href="<%=(locals.config.icon16)?locals.config.icon16:""%>">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%=(locals.config.icon144)?locals.config.icon144:""%>">
<meta name="theme-color" content="#ffffff">
<!--  
Stylesheets
=============================================

-->
<!-- Default stylesheets-->
<link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Template specific stylesheets-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="/statics/mainsite/lib/animate.css/animate.css" rel="stylesheet">
<link href="/statics/mainsite/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/statics/mainsite/lib/et-line-font/et-line-font.css" rel="stylesheet">
<link href="/statics/mainsite/lib/flexslider/flexslider.css" rel="stylesheet">
<link href="/statics/mainsite/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/statics/mainsite/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="/statics/mainsite/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
<link href="/statics/mainsite/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
<!-- Main stylesheet and color file-->
<link href="/statics/mainsite/css/style.css" rel="stylesheet">
<link id="color-scheme" href="/statics/mainsite/css/colors/default.css" rel="stylesheet">