<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%
        const content = (locals.config)?JSON.parse(locals.config):{};
        const team = (locals.team)?locals.team:[];
        const header = (locals.header)?JSON.parse(locals.header): {};
        header.titlePage = (content && content.pageTitle)?content.pageTitle:"WAE | Index"
    %>
    <%- include('./partials/header', header) -%>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- Navigation start -->
        <% include ./partials/navigation %>
        <!-- Navigation end -->

        <!-- Home video start -->
        <section class="home-section bg-dark-30" id="home" data-background="<%=(content && content.introduceImgBackground)?content.introduceImgBackground:""%>">
            <div class="video-player" data-property="{videoURL:'<%=(content && content.introduceVideo)?content.introduceVideo:""%>', containment:'.home-section', startAt:20, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
            <div class="video-controls-box">
                <div class="container">
                    <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
                </div>
            </div>
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1"><%=(content && content.introduceBigText)?content.introduceBigText:""%></div>
                    <div class="font-alt mb-40 titan-title-size-4"><%=(content && content.introduceSmallText)?content.introduceSmallText:""%></div><a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
            </div>
        </section>
        <!-- Home video end -->

        <div class="main">
            <!-- Main start -->
            <section class="module" id="about">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="module-title font-alt"><%=(content && content.aboutBigText)?content.aboutBigText:""%></h2>
                        <div class="module-subtitle font-serif large-text"><%=(content && content.aboutSmallText)?content.aboutSmallText:""%></div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="large-text align-center"><a class="section-scroll" href="#presentation"><i class="fa fa-angle-down"></i></a></div>
                    </div>
                    </div>
                </div>
            </section> 
            <!-- Main end --> 

            <!-- Presentation start -->
            <section class="module bg-dark-60" id="presentation" data-background="<%=(content && content.presentationImgBackground)?content.presentationImgBackground:""%>">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="video-box">
                                <div class="video-box-icon"><a class="video-pop-up" href="<%=(content && content.presentationVideo)?content.presentationVideo:""%>"><span class="icon-video"></span></a></div>
                                <div class="video-title font-alt"><%=(content && content.presentationBigText)?content.presentationBigText:""%></div>
                                <div class="video-subtitle font-alt"><%=(content && content.presentationSmallText)?content.presentationSmallText:""%></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Presentation end -->

            <!-- Partners start -->
            <%- include('./partials/partners', {partners: locals.partners}) -%>
            <!-- Partners end -->

            <!-- footer start -->
            <% include ./partials/footer %>
            <!-- footer end -->
        </div>
        <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <% include ./partials/static_footer%>
</body>

</html>