<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%
        const content = (locals.config) ? JSON.parse(locals.config) : {};

        const news = (locals.news) ? locals.news : [];

        const header = (locals.header) ? JSON.parse(locals.header) : {};
        header.titlePage = (content && content.pageTitle) ? content.pageTitle : 'WAE | News';
    %>
    <%- include('./partials/header', header) -%>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        <!-- Navigation start -->
        <% include ./partials/navigation %>
        <!-- Navigation end -->

        <div class="main">
            <!-- Text start -->
            <section class="module bg-dark-60 blog-page-header" data-background="<%=(content && content.newsImgBackground)?content.newsImgBackground:''%>">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt">
                                <%=(content && content.newsBigText)?content.newsBigText:''%>
                            </h2>
                            <div class="module-subtitle font-serif">
                                <%=(content && content.newsSmallText)?content.newsSmallText:''%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Text end -->

            <!-- news Container-->
            <section class="module">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 sidebar">
                            <%- include('./partials/widget_popular_news', {news: news}) -%>
                        </div>
                        <!-- List news -->
                        <div class="col-sm-8 col-sm-offset-1">
                            <% news.forEach(tmpNews => { %>
                                <!-- news -->
                                <div class="post">
                                    <div class="post-thumbnail">
                                        <a href="/news/<%=tmpNews.id%>">
                                            <img src="<%=(tmpNews.thumbnail)?tmpNews.thumbnail:''%>" alt="<%=(tmpNews.title)?tmpNews.title:''%>" />
                                        </a>
                                    </div>
                                    <div class="post-header font-alt">
                                        <h2 class="post-title">
                                            <a href="/news/<%=tmpNews.id%>"><%=(tmpNews.title)?tmpNews.title:''%></a>
                                        </h2>
                                        <div class="post-meta">By&nbsp;
                                            <a href="javascript:void(0);"><%=(tmpNews.fullName)?tmpNews.fullName:''%></a>
                                        </div>
                                    </div>
                                    <div class="post-entry">
                                        <%-(tmpNews.shortDescription)?tmpNews.shortDescription:''-%>
                                    </div>
                                    <div class="post-more">
                                        <a class="more-link" href="/news/<%=tmpNews.id%>">Xem chi tiết</a>
                                    </div>
                                </div>
                                <!-- news End -->
                            <% }); %>
                            <!-- <% include ./partials/widget_pagination %> -->
                            <!-- List news End-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- news Container End -->

            <!-- footer start -->
            <% include ./partials/footer %>
                <!-- footer end -->
        </div>
        <div class="scroll-up">
            <a href="#totop">
                <i class="fa fa-angle-double-up"></i>
            </a>
        </div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <% include ./partials/static_footer%>
</body>

</html>